body{

background-color: #FFA500;
color: #000000;

}

.heading{

background-color:lightblue;
width: 100%;
font-size: 20;

}

#camera, #result{

border: 2px solid black;
width: 350px;
height: 250px;

}

